.endorsements {
    background-color: $lightcolor;
    width: 100%;
    max-width: 450px;
    min-height: 280px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 3px 1px #CCCCCC;
    box-shadow: 0 0 3px 1px #CCCCCC;
    padding: 20px;
    margin: 5px;
    line-height: 1.5;
    @include box-align();

    h2 {
        font-weight: 700;
        text-align: left;
        width: 100%;
    }
}