.student-dashboard {
	min-height: 85vh;

	header {
		background-image: url(./assets/profile-background.png);
		background-repeat: no-repeat;
		background-position: bottom right;
		min-height: 655px;
		padding-top: 94px;

		@media (max-width: 767px) {
			height: auto;
		}

		.profile-container {
			width: 100%;
			max-width: 1120px;
			margin: 0 auto;
			@include box-align(flex-start, flex-start);
			@media (max-width: 767px) {
				flex-direction: column;
				@include box-align();
			}

			.picture {
				width: 215px;
				height: 215px;
				overflow: hidden;
				margin-right: 50px;
				@media (min-width: 768px) and (max-width: 900px) {
					width: 215px;
					height: 215px;
				}

				img {
					width: 100%;
					height: auto;
				}

				@media (max-width: 767px) {
					transform: translateY(50px);
				}
			}

			.top-info {
				@include box-align(space-between, flex-start);
				max-width: 850px;
				width: 100%;
				.name-cont {
					width: 100%;
					max-width: 500px;
					min-width: 300px;
					color: $darkcolor;
					transform: translateY(19px);
					@media (max-width: 767px) {
						transform: translateY(60px);
						text-align: center;
					}

					h1 {
						font-size: 4.2rem;
						font-weight: 900;
						margin-bottom: 14px;
					}

					h2 {
						font-size: 2rem;
						font-weight: 500;
						margin-bottom: 5px;
						color: $lambdaGray;
					}
					h3 {
						font-size: 2rem;
						font-weight: 300;
						margin-bottom: 5px;
						color: $lambdaGray;
					}
				}

				.badge {
					text-align: right;
					@media (max-width: 767px) {
						width: auto;
					}
					@media (min-width: 768px) and (max-width: 960px) {
						max-width: 260px;
						padding: 20px 10px;
					}

					img {
						width: 100px;
						height: auto;

						@media (max-width: 767px) {
							margin: 85px 0px 24px;
						}
					}
				}
			}

			.social-links {
				width: 100%;
				max-width: 830px;
				margin-top: 50px;
				font-size: 1.8rem;
				@include box-align(flex-start, center);
				@media (max-width: 767px) {
					margin: 20px auto;
					justify-content: center;
				}

				i {
					margin: 0 5px;
					background-color: $lightcolor;
					color: $lambdaTeal;
					border: 1px solid $newBorder;
					padding: 23px 32px;

					cursor: pointer;

					&:hover {
						background-color: $lambdaTeal;
						color: $lightcolor;
					}
				}
				.contact-btn {
					@include box-align(flex-start, center);

					@media (max-width: 767px) {
						justify-content: center;
					}

					a {
						margin-right: 5px;
						padding: 23px 32px;
						text-decoration: none;
						color: $lightcolor;
						background-color: $lambdaRed;
						cursor: pointer;
						text-align: center;
						&:hover {
							background-color: darken($lambdaRed, 10%);
						}
					}
				}

				.endorse-button {
					-webkit-appearance: none;
				}
				.portfolio-btn,
				.endorse-button {
					text-decoration: none;
					padding: 23px 32px;
					margin: 0 5px;
					background-color: $lightcolor;
					color: $lambdaTeal;
					border: 1px solid $newBorder;
					cursor: pointer;
					i {
						margin: 0;
						padding: 0;
						width: inherit;
						height: auto;
					}

					&:hover {
						background-color: $lambdaTeal;
						color: $lightcolor;
					}
				}

				.modal-wrapper {
					position: fixed;
					top: 0;
					left: 0;
					z-index: 98;
					height: 100%;
					width: 100%;
					overflow: auto;
					background-color: rgba(0, 0, 0, 0.4);

					.endorse-modal {
						box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.6);
						border-radius: 5px;
						background-color: white;
						margin: 200px auto;
						display: flex;
						flex-direction: column;
						z-index: 99;
						width: 300px;
						padding: 35px 25px;
						justify-content: flex-start;
						align-items: center;
						opacity: 1;

						h2 {
							font-weight: bold;
							font-size: 2rem;
							margin-bottom: 25px;
						}

						form {
							position: relative;

							#endorse-label {
								color: gray;
								background: white;
								padding: 0 4px;
								position: absolute;
								top: -8px;
								left: 8px;
							}

							.endorse-input {
								border-radius: 5px;
								border: 1px solid lightgray;
								margin-bottom: 20px;
								padding-top: 10px;
							}

							.endorse-form-buttons {
								display: flex;
								width: 100%;
								justify-content: space-between;

								button {
									-webkit-appearance: none;
									background-color: $lambdaRed;
									border: none;
									color: white;
									border-radius: 5px;
									margin: 0 auto;
									padding: 3px 9px;
									font-size: 1.8rem;
									cursor: pointer;
									transition: 0.2s;

									&:hover {
										transform: translateY(-2px);
										background-color: darken($lambdaRed, 10%);
										box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.6);
									}
								}
							}
						}
					}
				}
			}
			.header-boxes {
				margin-top: 20px;
				@include box-align(space-between, flex-start);
			}
		}
	}

	main {
		margin: 10px auto;
		width: 100%;
		max-width: 1120px;
		@include box-align(space-around, center);
		@media (max-width: 838px) {
			flex-direction: column;
		}

		.status-skills {
			@include box-align(space-between, flex-start);
			width: 100%;
			padding: 10px 0 100px;
		}

		.hobbies {
			font-size: 1.6rem;

			h2 {
				font-weight: 700;
				font-size: 1.8rem;
				margin-bottom: 20px;
			}
		}
	}
}
