.status-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 50%;
  margin-top: 50px;
  @media (max-width: 600px) {
    width: 100%;
  }

  h2 {
    font-weight: 900;
    margin-bottom: 24px;
    font-size: 2.2rem;
  }

  .status-section {
    display: flex;
    line-height: 1.8;
    color: $lambdaGray;

    ul {
      margin-right: 2.8rem;
      margin-bottom: 10px;

      li {
        text-transform: capitalize;
        margin-bottom: 3px;
      }
    }

    div {
      width: 48%;
    }
  }
}
