.status-container {
  display: flex;
  flex-direction: column;
  min-width: 35%;

  h2 {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .status-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    ul {
      margin-right: 2.8rem;
    }
  }
}
