/* Variables example
$primary-color: #333;
*/

// Main Colors

$lambdaRed: #bb1333;
$lambdaDarkBlue: #002070;
$lambdaLightBlue: #1e50ee;
$lambdaTeal: #08addd;
$lambdaGray: #55596d;
$darkcolor: #1d2226;
$lightcolor: #FFFFFF;

// light background color
$backg-light: #fafbfd;

// Font family
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');