/* Example
%message-shared {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}

.message {
  @extend %message-shared;
}

*/

%box-shadow {
	box-shadow: 0 0 6px 3px #f3f3f3;
}

%search-section {
	.control-group {
		margin: 20px auto;
		.control {
			font-family: arial;
			display: block;
			position: relative;
			padding-left: 26px;
			margin-bottom: 4px;
			padding-top: 4px;
			cursor: pointer;
			font-size: 15px;
		}
		.control input {
			position: absolute;
			z-index: -1;
			opacity: 0;
		}
		.control_indicator {
			position: absolute;
			top: 2px;
			left: 0;
			height: 20px;
			width: 20px;
			background: #e6e6e6;
			border: 0px solid #000000;
		}
		.control-radio .control_indicator {
			border-radius: 0;
		}

		.control:hover input ~ .control_indicator,
		.control input:focus ~ .control_indicator {
			background: #cccccc;
		}

		.control input:checked ~ .control_indicator {
			background: $lambdaLightBlue;
		}
		.control:hover input:not([disabled]):checked ~ .control_indicator,
		.control input:checked:focus ~ .control_indicator {
			background: $lambdaDarkBlue;
		}
		.control input:disabled ~ .control_indicator {
			background: #e6e6e6;
			opacity: 0.6;
			pointer-events: none;
		}
		.control_indicator:after {
			box-sizing: unset;
			content: '';
			position: absolute;
			display: none;
		}
		.control input:checked ~ .control_indicator:after {
			display: block;
		}
		.control-checkbox .control_indicator:after {
			left: 8px;
			top: 4px;
			width: 3px;
			height: 8px;
			border: solid #ffffff;
			border-width: 0 2px 2px 0;
			transform: rotate(45deg);
		}
		.control-checkbox input:disabled ~ .control_indicator:after {
			border-color: #7b7b7b;
		}

		.input-location {
			input {
				max-width: 45px;
				margin: 3px;
			}
		}
		.search-location {
			border: 1px solid $border-color;
			border-radius: 5px;
			margin-top: 10px;
			background-color: $lightcolor;
			.fa-search {
				color: lightgray;
				margin: 5px;
			}
			input {
				padding: 5px;
				border: none;
				background-color: $lightcolor;
				::placeholder {
					color: lightgray;
				}
			}
		}
		hr {
			margin: 20px auto;
			border: 2px solid $border-color;
		}
	}
	.bnt-search {
		border: none;
		background-color: $lambdaDarkBlue;
		color: $lightcolor;
		padding: 5px 10px;
		margin: 0 auto;
		width: 100%;
		border-radius: 5px;
		cursor: pointer;
		&:hover {
			box-shadow: 0 0 6px 3px #cccccc;
			background-color: $lambdaLightBlue;
		}
	}
}
