// Global scss

/* Variables example
$primary-color: #333;
*/

*,
*:before,
*:after {
	box-sizing: border-box !important;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: 'Lato', sans-serif;
	background-color: $backg-light;
}

li,
input,
label,
textarea {
	font-family: 'Lato', sans-serif;
}

.hrTop {
	border: 5px solid $lambdaRed;
	width: 59px;
	margin: 0 auto 24px 0;
}

hr {
	border: none;
	border-top: 1px solid lightgray;
	width: 100%;
}

.colorTeal {
	color: $lambdaTeal;
}

.colorGray {
	color: $lambdaGray;
}

iframe {
	.ytp-large-play-button-bg {
		background-color: $lambdaTeal !important;
	}
}
