// Top bar - logo and Navigation

.TopBar {
	padding: 10px 0 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $lambdaRed;
	z-index: 99999;
	position: relative;

	.TopBar-container {
		width: 100%;
		padding: 5px;
		max-width: 1000px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 5px 0;

		.TopBar-hire-lambda-logo {
			height: 30px;
		}

		.TopBar-btn-container {
			display: flex;
			justify-content: center;
			align-items: center;

			.TopBar-login-btn,
			.TopBar-logout-btn {
				padding: 5px 5px 5px 10px;
				border: none;
				background: none;
				color: darken(($lambdaRed), 22%);
				@include box-align();
				transition-duration: 0.3s;

				.fa-sign-out-alt,
				.fa-user {
					font-size: 2rem;
					color: $lightcolor;
					padding: 10px;
				}

				img {
					width: 30px;
					height: auto;
				}

				&:hover {
					color: $lightcolor;
					cursor: pointer;
					background: darken(($lambdaRed), 10%);
				}
			}
		}
	}
}

.subNav {
	width: 100%;
	background-color: $darkcolor;
	padding: 20px 0;
	@include box-align();

	nav {
		@include box-align(flex-end, center);
		width: 100%;
		max-width: 1024px;
		@media (max-width: 768px) {
			flex-direction: column;
			flex-basis: auto;
			padding: 20px;
		}

		a {
			text-decoration: none;
			background-color: darken($darkcolor, 10%);
			padding: 5px 7px;
			color: $lightcolor;
			margin: 3px 7px;
			transition-duration: 0.3s;
			@media (max-width: 768px) {
				margin: 3px 0;
				padding: 12px 10px;
				width: 100%;
				min-height: 40px;
			}
			i {
				margin-right: 5px;
			}

			&:hover {
				background-color: $lightcolor;
				color: $darkcolor;
			}
		}
	}
}
