// Top bar - logo and Navigation

.TopBar {
    position: fixed;
    height: 50px;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $lambdaRed;

    .TopBar-container {
        width: 100%;
        max-width: 1000px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 5px 0;

        .TopBar-hire-lambda-logo {
            height: 30px;
        }

        .TopBar-btn-container {
            display: flex;
            justify-content: center;
            align-items: center;

            .TopBar-login-btn,
            .TopBar-logout-btn {
                padding: 5px;
                border-radius: 5px;
                border: none;
                background: none;

                img {
                    width: 30px;
                    height: auto;
                }

                &:hover {
                    cursor: pointer;
                    background: darken(($lambdaRed), 10%);
                }
            }
        }

        ;


    }
}

.subNav {
    background: darken(($lambdaRed), 10%);
    padding: 20px 0;
    @include box-align();

    nav {

        @include box-align(flex-end, center);
        width: 100%;
        max-width: 1024px;

        a {
            text-decoration: none;
            color: $lightcolor;
            margin: 0 5px;

            &:last-child {}
        }

    }

}