th {
	font-size: 20px !important;
}

td {
	font-size: 16px !important;
}

.tableContainer {
	justify-content: center;
	min-height: 60vh;
}

.MuiSwitch-switchBase-173 {
	//height: 0 !important;
}

.MaterialDatatableBodyCell-cellStacked-168 {
	@media (max-width: 600px) {
		min-width: 160px;
	}
}

.MaterialDatatableBodyCell-responsiveStacked-169 {
	@media (max-width: 600px) {
		min-width: 160px;
	}
}

.MuiTableRow-root-117 {
	@media (max-width: 600px) {
		text-align: center;
	}
}

.MuiTable-root-112 {
	@media (max-width: 600px) {
		min-width: 322px;
	}
}

.MuiPaper-root-5 {
	max-width: 1024px;
	margin: 50px auto;
	border-radius: 5px;
	.MuiTypography-h6-62 {
		font-size: 1.8rem;
		font-weight: 500;
	}
	.MuiTablePagination-select-188 {
		padding-right: 30px;
	}
	.MaterialDatatableToolbarSelect-title-252 {
		font-size: 1.4rem;
	}
	.MaterialDatatableToolbarSelect-title-252 {
		font-size: 1.4rem;
	}
	.MaterialDatatableBodyRow-responsiveStacked-164 {
		@media (max-width: 600px) {
			border: none;
			border-bottom: 2px solid rgba(0, 0, 0, 0.15);
		}
	}
}
