.projects-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2%;
  width: 100%;

  h2 {
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: 20px;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .projects-inner-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    .project-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 240px;
      margin-bottom: 20px;
      border-radius: 5px;
      box-shadow: 0 0 6px 3px #cccccc;

      img {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        max-width: 100%;
        overflow: hidden;
      }

      h3,
      p {
        margin: 5px 0;
      }

      h3 {
        font-weight: bold;
      }

      p {
        margin-bottom: 10px;
      }
    }
  }
}
