.home {
	header {
		height: 713px;
		background-image: url(./assets/profile-background.png);
		background-repeat: no-repeat;
		background-position: bottom right;
		position: relative;
		text-align: center;
		@include box-align(space-between, center);
		padding: 10px;
		@media (max-width: 768px) {
			padding: 0;
			height: auto;
		}
		.header-text {
			margin: 0 auto 0 0;
			width: 60%;
			@include box-align();
			flex-direction: column;
			z-index: 1;
			background-color: rgba(255, 255, 255, 0.4);

			@media (max-width: 768px) {
				width: 100%;
				order: 2;
				padding: 10px;
			}
			h1 {
				width: 100%;
				text-align: left;
				max-width: 700px;
				font-size: 4.8rem;
				font-weight: 300;
				padding: 10px;
				margin-bottom: 30px;
				@media (max-width: 768px) {
					font-size: 2.5rem;
				}
			}
			p {
				padding: 10px;
				text-align: left;
				max-width: 700px;
				font-size: 1.9rem;
				line-height: 34px;
				color: $darkcolor;
				margin-bottom: 32px;
				@media (max-width: 768px) {
					font-size: 1.6rem;
					line-height: 1.5;
				}
			}

			section {
				max-width: 1000px;
				width: 100%;
				.carousel-section {
					margin: 0 auto;
					max-width: 1024px;
					width: 100%;
					padding: 10px 10px;
					color: $lightcolor;

					h2 {
						font-weight: 300;
						font-size: 3.8rem;
						margin-bottom: 20px;
					}

					p {
						margin-bottom: 60px;
						line-height: 1.5;
					}

					.cover-img {
						width: 300px;
						text-align: center;

						.bottom-card {
							background-color: lightgray;
							a {
								text-decoration: none;

								h3 {
									font-size: 2.4rem;
									color: $darkcolor;
									font-weight: 500;
									font-size: 1.6rem;
									text-transform: capitalize;
									padding: 10px 0;
								}
							}

							img {
								width: 100%;
								// height: auto;
							}
						}

						button {
							text-decoration: none;
							border: none;
							color: #ffffff;
							padding: 10px;
							margin: 10px auto;
							background-color: $lambdaRed;
							cursor: pointer;

							&:hover {
								box-shadow: 0 0 6px 3px #cccccc;
								background: #8d0e26;
							}
						}
					}
				}
			}
		}
		.hero-girl {
			position: absolute;
			z-index: 0;
			right: 0;
			width: 40%;
			min-height: 713px;
			-webkit-clip-path: polygon(100% 0, 100% 22%, 70% 100%, 1% 100%, 44% 0);
			clip-path: polygon(100% 0, 100% 22%, 70% 100%, 1% 100%, 44% 0);
			background-image: url('./assets/herogirl.png');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: 34% 50%;
			@media (max-width: 768px) {
				position: relative;
				order: 1;
				width: 100%;
				min-height: 350px;
				margin-bottom: 30px;
			}
		}
	}

	.formSection {
		width: 100%;
		padding-top: 100px;
		.search-bar {
			border-top: 1px solid $newBorder;
			border-bottom: 1px solid $newBorder;
			margin: 0 auto;
			width: 100%;
			max-width: 1200px;
			padding: 50px 20px;
			@extend %search-section;
			@media (max-width: 768px) {
				width: 100%;
				flex-direction: column;
			}

			h2 {
				font-size: 2.8rem;
				font-weight: 900;
				width: 100%;
				text-align: center;
				margin-bottom: 10px;
			}
			@media (max-width: 768px) {
				padding: 20px;
			}
		}
	}
	main {
		@include box-align(space-around, flex-start);
		width: 100%;
		max-width: 1366px;
		margin: 0 auto;
		padding: 20px;
		padding-bottom: 100px;
		box-sizing: border-box;

		.cards-display {
			width: 100%;
			max-width: 1200px;
			padding: 100px 0;
			@include box-align(center, flex-start);

			@media (max-width: 768px) {
				width: 100%;
			}

			h2 {
				font-size: 2.8rem;
				font-weight: 500;
				width: 100%;
				text-align: center;
				margin-bottom: 50px;
			}
			.cards {
				width: 50%;
				max-width: 530px;
				margin: 20px 5px;
				background-color: $lightcolor;
				border: 1px solid $border-color;
				overflow: hidden;
				@extend %box-shadow;
				@include box-align(space-between, center);

				@media (max-width: 768px) {
					width: 100%;
				}

				.profile-pic {
					width: 150px;
					height: 150px;
					overflow: hidden;
					margin: 10px;
					@extend %box-shadow;
					border: 1px solid $border-color;

					img {
						width: 100%;
						height: auto;
					}
				}
				.details {
					width: 100%;
					padding: 0 20px 5px;
					text-transform: capitalize;
					text-align: center;
					background-color: $lightcolor;
					@include box-align();
					@media (max-width: 768px) {
						width: 100%;
					}
					@media (min-width: 768px) and (max-width: 854px) {
						width: 100%;
						margin: 0 auto;
					}

					h2 {
						text-transform: uppercase;
						font-weight: 700;
						font-size: 2.2rem;
						width: 100%;
						margin-top: 20px;
						margin-bottom: 15px;
					}

					h3 {
						width: 100%;
						font-size: 1.4rem;
						margin-bottom: 10px;
					}

					p {
						width: 100%;
						margin: 5px auto 0;
						font-weight: 500;
					}
					ul {
						@include box-align();
						li {
							margin: 5px;
							background-color: lighten($darkcolor, 50%);
							color: $lightcolor;
							padding: 3px 7px;
						}
					}

					.contact-links {
						width: 100%;
						padding: 10px;
						a {
							font-size: 2.5rem;
							color: lighten($darkcolor, 50%);
							cursor: pointer;
							margin: 5px;

							&:hover {
								color: $darkcolor;
							}
						}
						.prof-link {
							border: none;
							background-color: $lambdaTeal;
							color: $lightcolor;
							padding: 5px 10px;
							margin: 10px auto;
							width: 100%;
							cursor: pointer;
							&:hover {
								box-shadow: 0 0 6px 3px #cccccc;
								background-color: $lambdaGray;
							}
						}
					}
				}
				.projects-box {
					width: 100%;
					max-width: 350px;
					@include box-align();
					padding: 0 10px 10px;
					@media (max-width: 768px) {
						width: 100%;
					}
					@media (min-width: 768px) and (max-width: 854px) {
						width: 100%;
						margin: 0 auto;
					}

					h2 {
						font-size: 1.8rem;
						margin-bottom: 20px;
						font-weight: 500;
						color: $lambdaGray;
						text-transform: capitalize;
					}
					.display-box {
						text-decoration: none;
						color: black;
						box-shadow: 0 0 2px 1px #cccccc;
						background-color: $lightcolor;
						margin: 2px 2px 5px;
						width: 100px;
						font-size: 0.8rem;
						cursor: pointer;
						-webkit-transition: transform 1s; /* Safari */
						transition: transform 1s;
						&:hover {
							transform: scale(1.1);
						}
						img {
							width: 100%;
							height: auto;
						}
						h3 {
							padding: 3px 2px;
							text-align: center;
						}
					}
				}
			}
			@media (max-width: 768px) {
				.cards {
					flex-direction: column;
					justify-content: center;

					.profile-pic {
						margin: 10px auto;
					}
					.details {
						max-width: 100%;
						text-align: center;
					}
					.projects-box {
						margin: 0 auto;
						a {
							width: 100%;
							display: block;
						}
					}
				}
			}
		}
		.btn-show-more {
			border: none;
			background-color: $lambdaRed;
			color: $lightcolor;
			padding: 5px 10px;
			margin: 10px auto 5px;
			width: 200px;
			cursor: pointer;
			&:hover {
				box-shadow: 0 0 6px 3px #cccccc;
				background-color: darken($lambdaRed, 10%);
			}
		}
	}
}
