.aboutMe {
	background-color: $lightcolor;
	width: 100%;
	max-width: 680px;
	min-height: 215px;
	padding: 20px 0;

	@media (max-width: 768px) {
		max-width: 315px;
	}

	h2 {
		font-weight: 900;
		font-size: 2.2rem;
		text-align: left;
		width: 100%;
		margin-bottom: 24px;
	}
	p {
		line-height: 2;
		color: $lambdaGray;
	}
}
