.endorsement-banner {
	background: $lambdaLightBlue;
	//background: $lambdaDarkBlue;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: bold;
}
