.endorsement-banner {
  background: $lambdaLightBlue;
  //background: $lambdaDarkBlue;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}
